---
import InteriorHero from '../../components/InteriorHero.astro';
import { Tag } from '../../components/Tag';
import DefaultLayout from '../../layouts/Default.astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import { getPostColorFromCategory } from '../../utils/postUtils';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post: Props = Astro.props;
const {
  data: { category, title },
} = post;
const { Content } = await post.render();
---

<DefaultLayout>
  <InteriorHero>
    <div class="flex justify-center">
      <Tag color={getPostColorFromCategory(category)}>{category}</Tag>
    </div>
    <h1 class="font-heading font-black text-7xl text-center">{title}</h1>
  </InteriorHero>

  <Content />
</DefaultLayout>
