---
// import { getCollection } from 'astro:content';

// const posts = (await getCollection('blog')).sort(
// 	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
// );
import DefaultLayout from "../../layouts/Default.astro"
import {HeaderSection} from "../../sections/Header"
---

<DefaultLayout>
  <HeaderSection client:load/>
  <div>
    {/* Hero Section*/}
  </div>
  <div>
    {/* Blog posts */}
  </div>
</DefaultLayout>