---
import InteriorHero from '../components/InteriorHero.astro';
import DefaultLayout from '../layouts/Default.astro';
---

<DefaultLayout>
  <InteriorHero>
    <p>Join the team</p>
    <h1>We are hiring</h1>
    <p>
      We are always looking for talented individuals passionate about building BlockChain products
      that make a difference.
    </p>
  </InteriorHero>
  <div>careers</div>
</DefaultLayout>
